#sidebar {
    min-width: 400px;
    height: 100%;
    background-color: rgba(74,74,74,0.06);
    float: right;
    padding: 10px;
    border-left: 1px solid gray;
    overflow-y: auto;
    display: table-cell;
    position: relative;
}

#design_container {
    width: 100%;
    height: 100%;
    display: table-cell;
    position: relative;
}

#login_bad {
    color: darkred;
    display: none;
}

.peer_submission {
    margin: 5px;
}

#done2, #done0 {
    display: none;
}

#done_feedback {
    width: 100%;
}

iframe {
    border: none;
}

#welcome_choose, #choose_footer {
    display: none;
}

.comment_box_footer {
    padding-top: 10px;
    border-top: 1px solid gray;
    margin-top:5px;
}

#help_modal .modal-dialog {
    width: 80%;
}

.side_modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 380px;
}

.side_modal-dialog {
    width: 380px;
}

#adding_location_modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: rgba(200, 200, 200, 0.5);
}

#location_modal_content {
    position: absolute;
    top: 25%;
    left: 10%;
    width: 80%;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.choosing_location iframe{
  vertical-align:top;
  pointer-events: none; /* let any clicks go through me */
}

#design_frame {
    width: 100%;
    height: 100%;
}

html, body, .stretch {
    height: 100%;
}

h3 {
    margin-top: 0;
}

#main_container {
    display: table;
}

button {
    border-radius: 2px;
    box-shadow: none;
    background-color: #dedede;
    border: 1px solid rgba(74,74,74,0.3);
    padding: 4px 10px;
}

button:hover {
    background-color: #cdcdcd;
}

.indicator:hover {
    cursor: pointer;
}

.indicator_line {
    margin: 4px 5px;
    border-top: 1px solid rgba(139, 0, 0, 0.3);
}

.right_side {
    padding-right: 0;
}

.submit_comment {
    background-color: rgba(139, 0, 0, 0.2);
}

.submit_comment:hover {
    background-color: rgba(139, 0, 0, 0.5);
}

.help_icon {
    color: #1CA9C4;
}

.done_icon {
    color: #1CA9C4;
}

#help_button, #done_button {
    cursor: pointer;
}

#close_help {
    display: none;
}

#prev_help, #done_help {
    display: none;
}

#help_table {
    border-collapse: separate;
    border-spacing: 0px 10px;
    width: 100%;
}

.hide_help {
    display: none;
}

.show_help:hover, .hide_help:hover {
    background-color: #5eff5b;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.help_pages {
    display: none;
}

.help_pic {
    max-width: 100%;
    max-height: 100%;
}

.instruction {
    display: none;
}

#consent_form {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
    background-color: #eeeeee;
}

#consent_form::-webkit-scrollbar {
    -webkit-appearance: none;
}

#consent_form::-webkit-scrollbar:vertical {
    width: 11px;
}

#consent_form::-webkit-scrollbar:horizontal {
    height: 11px;
}

#consent_form::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

#consent_form::-webkit-scrollbar-track { 
    background-color: #fff; 
    border-radius: 8px; 
} 

.navbar {
    margin-bottom: 0px;
}

.add_comment_btn {
    color: #106575;
}

.comment_text {
    width: 100%;
    min-height: 70px;
    overflow-y: auto;
    border: 2px solid rgba(74,74,74,0.3);
    border-radius: 2px;
    padding: 5px;
    resize: none;
}

.twitter-typeahead {
    width: 100%;
}

.comment_text:focus {
    outline: none !important;
    border: 2px solid #1CA9C4;
}

.glyphicon-remove {
    border: 2px solid darkred;
    color: transparent !important;
}

.glyphicon-ok {
    border: 2px solid green;
    color: green;
}

.posted_comment {
    width: 100%;
    background: white;
    border-radius: 5px;
    margin: 5px 0px;
    padding: 3px;
    position: relative;
}

.new_comment_text {
    width: 80%;
}

.trash_comment, .edit_comment {
    float: right;
    top: -2px;
    right: 0;
    padding: 5px;
    margin: 0px 5px;
    background-color: #fff;
    border-radius: 2px;
    border: none;
}

.trash_comment:hover, .edit_comment:hover {
    cursor: pointer;
    background-color: #ddd;
}

.add_comment:hover {
    cursor: pointer;
    color: gray;
}

.add_location, .remove_location {
    float: left;
    margin-bottom: 5px;
}

.remove_location {
    display: none;
}

.right_buttons {
    float: right;
    margin-bottom: 5px;
}

.flag_btn {
    font-size: 90%;
    color: #610000;
}

.flag_btn:hover {
    cursor: pointer;
    color: #CF0000;
}

.insert_btn:hover {
    cursor: pointer;
    background-color: #5eff5b;
    border-radius: 10px;
}

.insert_btn {
    vertical-align: top;
    margin: 5px;
    font-size: 1.2em;
}

#example_btn {
    vertical-align: middle !important;
}

.comment td{
    padding-top: 4px;
    padding-bottom: 4px;
    line-height: 1.1em;
}

.blank {
    cursor: pointer;
    display: inline-block;
    border: none;
    border-radius: 0;
    outline: none;
    color: #4A4A4A;
    border-bottom: 2px solid transparent;
    box-shadow: none;
    padding: 2px;
    -webkit-appearance: none;
}

.blank:focus {
    border-bottom: 2px solid #1CA9C4;
}

.suggestion_tips {
    padding-bottom: 5px;
}

.suggestion_header {
    font-weight: 700;
    line-height: 2;
    border-top: 1px solid gray;
    margin-top:5px;
    font-size: 15px;
}

.clear {
    clear: both;
}

.suggestion_buttons {
    padding-top: 5px;
}

.first_header {
    border: none !important;
    margin-top: 0;
}

.larger_header {
    font-size: 16px !important;
}

.suggestion_box {
    border: 1px solid #004ea3 !important;
    height: 500px;
    overflow-y: auto;
    background-color: rgba(74,74,74,0.03) !important;
    position: relative;

}

.suggestion_box_inside {
    padding: 5px;
}

#sugg_insts {
    font-size: 13px !important;
    margin-top: 2px;
}

.search_text {
    width: 100% !important;
    border: 1px solid gray !important;
    padding: 3px;
}

.see_suggestions {
    font-size: 14px !important;
    color: darkred !important;
    text-decoration: underline !important;
    cursor: pointer !important;
}

.suggestion_container {
    position: relative;
}

.comment_view {
    bottom: 0px;
    width: 100%;
    height: 100px;
    background-color: white;
    border: 1px solid #004ea3 !important;
    border-top: none !important;
}







.jumbotron {
    background: #532F8C;
    color: white;
    padding-bottom: 80px; 
}

.jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; 
}

.jumbotron .btn-primary:hover {
    background: #7646c1; 
}

.jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; 
}
    
.navbar + .jumbotron {
    margin-top: -20px; 
}

.jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; 
}

.jumbotron .lang-logo img {
    max-width: 100%; 
}

